body {

}

/* nav */
nav {
	background: #fff;
	height: 40px;
	line-height: 30px;
	width: 100%;
	text-align: left;
}

nav li {
	float: left;
}

nav a {
	color: #000;
	height: 30px;
	padding: 5px
}

nav a:hover {
	background: #C74451;
	color: #fff;
}

/* game */


canvas#gameCanvas {
	border: 3px solid #000000;
}
